@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;600;700&family=Paytone+One&display=swap");
body {
  margin: 0;
  font-family: "Outfit", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.font-secondary {
  font-family: "Paytone One", sans-serif;
}
